################################################################
# If you are using Anaconda then you can install all required
# Python packages by running the following commands in a shell:
#
#     conda create --name tf python=3
#     source activate tf
#     pip install -r requirements.txt
#
#
################################################################
# Basic packages used 

numpy
jupyter
matplotlib
pandas
sklearn
seaborn
xlrd
openpyxl
scipy
scikit-image
opencv 

################################################################
# TensorFlow v.2.1 and above include both CPU and GPU versions.

tensorflow



